// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #fff !important;
}

.container.header {
  background: #f2f1f0;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  border-top: 8px solid #ffcf5c;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

p {
  margin-bottom: 35px;
  line-height: 2;
}